.image_profil {
  top: 1rem;
  left: 1rem;
  height: 100%;
  width: auto;
}

.box {
  text-align: center;
  position: absolute;
  top: 9rem;
  right: 0.5rem;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
  border-radius: 50px;
  z-index: 100;
  background-color: black;
  box-shadow: 2px 2px rgba(85, 85, 85, 0.5);
}
