.pageMatch {
  position: relative;
  background-image: url(./assets/background2.jpg);
  background-size: cover;
  height: 100vh;
  background-position: bottom;
}
.matchTitle {
  font-family: "Bungee Inline", cursive;
  color: yellow;
  font-size: 4.5rem;
}
.card-body {
  padding: 20px 10px 20px 10px;
}
.card-body p.card-text {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.eclair {
  position: absolute;
  top: 35vh;
  left: 35vw;
  height: 8rem;
  width: auto;
}

.ultimate {
  position: absolute;
  background-color: pink !important;
  color: red !important;
  bottom: 6rem;
  left: 6rem;
}
