h1 {
    font-family: "Space Mono", monospace !important;
}
button {
    background-color: #e84393!important;
    color: white !important;
    border-color: white !important;
}
.containerImg{
    overflow: hidden;
    display: block;
    height: 370px !important;
}
.lol {
    background-color: red!important;
    color: white !important;
    border-color: white !important;
}
.lol, .lol2 {
    width: 50%;
    font-size: 15px
}